/* SOMETHING EPIC GOES HERE */
html, body {
	font-family: 'Anonymous Pro', "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
	font-size: 100%;
	color: #f1f1f1;
	margin: 0;
	padding: 0;
}

/* colors
 * offblack		#575756
 				#8D8C8C
 				#B2B2B2
 * blue			#009CB4
				#33B0C3
				#66C4D2
 * red			#E30613
				#E93842
				#EE6A71
 * green		#66C08C
 				#009640
 				#33AB66
 * orange		#F18700
 				#F49F33
 				#F7B766
 */

.container {
	margin: 0 auto;
	max-width: 40em;
}
.container .click:before {
	content: '> ';
}
.container .click:after {
	content: ' <';
}
.container .click.inactive:before {
	content: ''!important;
}
.container .click.inactive:after {
	content: ''!important;
}
.optr {
	opacity: 0;
	-o-transition: opacity 0.3s ease-in;
	-ms-transition: opacity 0.3s ease-in;
	-moz-transition: opacity 0.3s ease-in;
	-webkit-transition: opacity 0.3s ease-in;
	transition: opacity 0.3s ease-in;
}
.optrinit {
	opacity: 1;
	-o-transition: opacity 0.3s ease-in;
	-ms-transition: opacity 0.3s ease-in;
	-moz-transition: opacity 0.3s ease-in;
	-webkit-transition: opacity 0.3s ease-in;
	transition: opacity 0.3s ease-in;
}

/* home screen */
.home {}
.home h1 {
	text-align: center;
	font-size: 3em;
	text-transform: uppercase;
}
.home a {}
.home .click {
	text-decoration: none;
	display: block;
	text-align: center;
	margin: 0 auto 0.5em;
}
.home .large {
	font-size: 2.5em;
	font-weight: bold;
}
.home .small {
	font-size: 0.8em;
}
.home hr {
	border: 0;
	height: 2px;
	background: #009640;
	margin: 1em auto;
}
.home p {
	margin: 0 0 1em;
}
.home > p {
	text-align: center;
}
.home .about {
	display: none;
	background: rgba(255,255,255,0.9);
	padding: 2.5%;
	color: #333;
	position: absolute;
	top: 3em;
	width: 60%;
	left: 17.5%;
	right: 17.5%;
}
.about .about-wrap {
	position: relative;
}
.about-wrap p {}
.about-wrap .about-closer {
	background: #E30613;
	color: white;
	padding: 1% 2%;
	position: absolute;
	top: 1em;
	right: -7.5%;
	font-size: 2em;
}

/* how to instruction screen */
.howto {
	display: none;
}

/* character screen */
.change-characters {
	display: none;
}
.change-characters h2 {
	margin: 2em auto 2em;
	text-align: center;
}
.change-characters .character {
	float: left;
	width: 15%;
	margin: 0 auto 2em;
}
.character.active-choice {
	outline: 2px #009640 solid;
}
.character:first-of-type {
	margin-left: 20%;
}
.change-characters .click {
	clear: both;
	display: block;
	text-align: center;
}

/* teh game */
.game {
	display: none;
}
.game .score {
	text-align: center;
	margin: 1em 0;
	font-weight: bold;
}
.game .talking {
	width: 80%;
	margin: 0 auto 1em;
}
.game .canvas {
	border-top: 1px white solid;
	border-bottom: 1px white solid;
	margin: 0 auto 1em;
	/*display: block;*/
	position: relative;
}
.game .player {

}
.game #me {
	z-index: 980;
}
.game #it {
	z-index: 970;
}
.game .player,
.game .monster,
.game .bomb,
.game .point {
	position: absolute;
	background-repeat: no-repeat;
	top: 0;
	left: 0;
	-o-transition: top 0.1s ease-out, left 0.1s ease-out;
	-ms-transition: top 0.1s ease-out, left 0.1s ease-out;
	-moz-transition: top 0.1s ease-out, left 0.1s ease-out;
	-webkit-transition: top 0.1s ease-out, left 0.1s ease-out;
	transition: top 0.1s ease-out, left 0.1s ease-out;
	background: url('images/se_spritesheet.svg');	
	width: 20%;
}




















@media all and (min-width:60em) {
html {
	background: #3B3B39;
	background-image: url(images/bg1.jpg);
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-position: top center;
}

/* end desktop and maybe tablet query */
}





@media screen and (max-width:60em) {
html {
	background: #3B3B39;
	background-image: url(images/bg1m.jpg);
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-position: top center;
}

/* end desktop and maybe tablet query */
}